@import url('https://fonts.googleapis.com/css2?family=Martel&family=Ms+Madi&display=swap');

html {
  font-size: 16px;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: 'Martel', serif;
}

h1 {
  font-family: 'Ms Madi', cursive;
  font-size: calc(2.5rem + 1vw);
}

:root {
  --bg-color: #171923;
  --font-color: #c5cddb;
}

.light-mode {
  --bg-color: #e8e6dc;
  --font-color: #3d3d3d;
}

h1,
h4 {
  text-align: center;
}

.nav-link {
  cursor: pointer;
  list-style: none;
  color: var(--font-color);
}

#nav-ul {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#toggle-container {
  display: flex;
  justify-content: flex-end;
}

#toggle {
  background-size: contain;
  border: none;
  background: url('../assets/icons/moon.svg') no-repeat center;
  padding: 1.2rem;
}

.toggle-light {
  background: url('../assets/icons/sun.svg') no-repeat center !important;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

#mapa-container {
  text-align: center;
  margin: auto;
}

#mapa {
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;
  cursor: zoom-in;
}

.row {
  padding: 1rem;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 40%;
}
.col-2 {
  width: 40%;
}
.col-3 {
  width: 20%;
}

#footer-list {
  margin: auto;
}

#footer-list > ul > li {
  list-style: none;
}

#footer-list > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 1rem;
}

#social-container > ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
}

#social-list {
  text-align: center;
}

.social-icon {
  width: 100%;
  max-width: 48px;
  height: auto;
}

#envios-container {
  text-align: center;
  margin: auto;
}

#pedidos-icon {
  width: 100%;
  max-width: 72px;
  height: auto;
  cursor: pointer;
  margin: 1rem;
}

.social-icon,
#pedidos-icon {
  transition: transform ease-out 500ms;
}

.social-icon:hover,
#pedidos-icon:hover {
  transform: scale(1.1);
}

.carousel {
  max-width: 750px;
  margin: auto;
}

#acerca-de {
  margin: 2rem auto;
  text-align: center;
}

@media (max-width: 767px) {
  #nav-ul {
    gap: 0;
  }
  .row {
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
  #mapa {
    max-width: 300px;
  }
  .social-icon {
    max-width: 36px;
  }
  #pedidos-icon {
    max-width: 72px;
  }
}
